*{
    background-color: rgb(300,500,700);
    margin: 0px;
}

.container{
    position:absolute;
    width: 100%;
    height: 100vh;
}

.head{
    position:static;
    width:auto; 
}

.head h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}

.form{
    position: sticky;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.tables{
    box-sizing: border-box;
    border: 3px solid black;
    border-style: groove;
    border-radius: 13px;
    padding:20px 20px 20px 20px ;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.tables tr td{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.tables tr td input{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 12px;
    border-radius: 8px;
    border-style: groove;
    padding: 10px 10px;
    border: 2px solid;
}

.btn-container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-style{
    font-size: 30px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 12px;
    align-content: center;
    background-color: orange;
}