*{
    margin: 0;
    padding: 0;
}

.head{
    position: inherit;
    height: 30vh;
    background: orange;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1{
    position: relative;
}

label{
    font-size: 43px;
    margin-top: 24px;
    font-family: monospace;
}

.form{
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.tables{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.tables tr td{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.tables tr td input{
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 12px;
    border-radius: 8px;
    border-style: groove;
    padding: 10px 10px;
    border: 2px solid;
}

.btn-container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-style{
    font-size: 30px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 12px;
    align-content: center;
    padding: 5px 20px;
}