.content{
    position: inherit;
    float :right ;
    overflow: hidden;
    margin-top: 14vh;
    margin-right: 40px;
    height: 80vh;
    justify-content: space-around;
    align-items: flex-start;
}

.content .cards{
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
}

.content .admin{
    min-height: 73vh;
    min-width: 70vw;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    border-bottom: 2px solid black;
}

.content .admin form table{
    text-align: center;
    justify-content: center;
    padding: 5px 12px;
    display: flex;
}

.content .admin form table th{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
    padding: 4px 10px;
    border-bottom: 1px solid black;
}

.content .admin form table td{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 10px;
}

.content .admin form table td input{
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 12px;
}

.content .admin form table select{
    padding: 10px 60px;
}